#image1 { 
    width:100%;
}
 #pic5{
      width:55%;
  }
  body{
   background-color:#fceaed;
   border: 15px solid black;
   padding: 5%;
  }
#Title{
    font-size: 75px;
     color:#9770c1;
    font-family: 'Pacifico', cursive;
}

#image2 {
    width:80%;
}
.row{
    margin: 40px 30px;
}
.scores{
    border-style: solid;
    border-radius: 1px;
    border-width: 2px;
    margin: 2px 2px;
}

#image3 {
    width:80%;
}
h1{
    font-family: Courier;
    font-weight: bold;
}
#text{
    margin: 0 auto;
}

#image4 {
 width:80%;
}
#play{
    width:80%;
}

#speech{
    color:#000000;
    font-size:40px;
}
#close-image1{
    height:185px;
}
